#nav{
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    display:flex;
}
#nav ul{
    padding-left: 0%;
    width: 100%;
}
#nav li{
    display: inline;
    padding-left: 10px;
    margin: 10px;
    padding: 1px 20px;
    border: 1;
}
.display-1{
    font-size: 350%;
    padding-right: 45%;
    font-family:Verdana, Geneva, Tahoma, sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar-brand{
    font-size: 200%;
}
.service{
    padding-top: 7%;
}
body{
    background-color: rgba(255, 255, 255, 0.94);
}
